@charset "utf-8";

/*通用字体设置*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
    color: #666;
}

body{
    background: url("../img/bg.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding:0;
    height: 100%;
}

label.error{
    color: red;
}


.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileinput-button input{
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
}