/*下面的是关于简介的css样式*/

.tab1 {
    margin: 30px 0;
    color: #666;
}

/*div.tab-text {*/
    /*background-color: rgba(42, 171, 210, 0.42);*/
/*}*/

.tab-h2 {
    font-size: 20px;
    color: #0059B2;
    text-align: center;
    letter-spacing: 1px;
}

.tab-p {
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #999;

    margin: 20px 0 40px 0;
}

.tab1 .text-muted {
    color: #999;
    text-decoration: line-through;
}

.tab1 .media-heading {
    margin: 5px 0 20px 0;
}

.tab1 .col {
    padding: 20px;
}

.tab2 {
    text-align: center;
    background-color: rgba(91, 192, 222, 0.47);
    box-shadow: 0 1px 1px 3px rgba(91, 192, 222, 0.31);
    border-radius: 5px;
    padding: 60px 20px;
}

.tab3 {
    padding: 60px 0;
    text-align: center;
}

.media, .media .media-object {
    text-align: center;
}

.tab2 img {
    width: 50%;
    height: 50%;
}

.tab3 img {
    width: 55%;
    height: 55%;
}

.text h3 {
    font-size: 20px;
}

.text p {
    font-size: 14px;
}



#information {
    background: #eee;
    padding: 40px 0;
}

.info-content {
    background: #fff;
    margin: 0 0 20px 0;
    box-shadow: 2px 2px 3px #ccc;
}

.info-content img{
    margin: 12px 0;
}

.info-content h4 {
    padding: 4px 0 0 0;
    color: #333;
    font-size: 14px;
}

.info-content p{
    line-height: 1.6;
}


.info-right {
    background: #fff;
    box-shadow: 2px 2px 3px #ccc;
}


.info-right blockquote{
    margin:0;
    padding:0;
}

.info-right h2{
    font-size: 20px;
    color: #333;
    padding: 5px;
}



#case h4{
    color: #666;
}

#case p{
    color: #666;
    line-height: 1.6;
}

#about a{
    color: #0059b2;
}

#about .about{
    background: #ffffff;
    box-shadow: 2px 2px 3px #ccc;
}

#about h3{
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin: 0 0 10px 0;
}
#about p{
    line-height: 2;
    font-size: 13px;
}
/**没有以小于**/
/**小屏幕 平板 大于等于768px**/
@media (min-width: 768px) {
    .tab-h2 {
        font-size: 26px;
    }

    .tab-p {
        font-size: 16px;
    }

    .text h3 {
        font-size: 22px;
    }

    .text p {
        font-size: 15px;
    }

    .tab2 .tab-img {
        float: right;
    }

    .tab2 .tab-text {
        float: left;
    }


    .info-content h4 {
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;/*一行显示*/
        text-overflow: ellipsis; /*...显示*/
    }

    #about h3{
        font-size: 19px;
    }
    #about p{
        font-size: 14px;
    }
}

/**中等屏幕 桌面显示器 大于等于 992px**/
@media (min-width: 992px) {
    .tab-h3 {
        font-size: 28px;
    }

    .tab-p {
        font-size: 17px;
    }

    .text h3 {
        font-size: 24px;
    }

    .text p {
        font-size: 16px;
    }

    .jumbotron h1 {
        font-size: 33px;
    }

    .jumbotron h4 {
        font-size: 17px;
    }
    .info-content h4 {
        font-size: 18px;
    }


    #about h3{
        font-size: 20px;
    }
    #about p{
        font-size: 15px;
    }
}

/**大屏幕 桌面显示器 大于等于 1200px**/
@media (min-width: 1200px) {
    .tab-h2 {
        font-size: 30px;
    }

    .tab-p {
        font-size: 18px;
    }

    .text h3 {
        font-size: 26px;
    }

    .text p {
        font-size: 18px;
    }

    .info-content h4 {
        font-size: 20px;
    }


    #about h3{
        font-size: 22px;
    }
    #about p{
        font-size: 16px;
    }
}
